<div id="economieID" {if (isset($oCandidatCv->departement) && $oCandidatCv->departement==15)} style="display:none" {else} style="display:block" {/if}>
				<div class="labelForm libele_form">
					<label class="control-label " data-original-title="" title=""><b> Direction </b><b><font color="red"> * </font></b></label>
				</div>
				<div class="form form-group">
					<select class="form-control" placeholder="Direction" onchange="changeDirection()" name="direction" data-toggle="tooltip" data-original-title= "Safidio ny Foibem-pitondrana misy anao" id="direction"{if $zRole=='chef'}{/if}>
						<option  value="0">-------</option> 
						{foreach from=$oData.list_direction item=oDirection}
							<option  value={$oDirection.id} {if $oDirection.id==$oCandidatCv->direction}selected="selected"{/if}>{$oDirection.libele}</option>
						{/foreach}
					</select>
				</div>
				<div class="labelForm libele_form">
					<label class="control-label " data-original-title="" title=""><b>Service </b><b><font color="red"> * </font></b></label>
				</div>
				<div class="form form-group">
					<select class="form-control" placeholder="Service" onchange="changeService()" name="service" data-toggle="tooltip" data-original-title= "Safidio  ny sampan-draharaha  misy anao " id="service"{if $zRole=='chef'}{/if}>
						<option  value="0">-------</option> 
						{foreach from=$oData.list_service item=oService}
							<option  value={$oService.id} {if $oService.id==$oCandidatCv->service}selected="selected"{/if}>{$oService.libele}</option>
						{/foreach}
					</select>
				</div>
			
				{if $oCandidatCv->soa_list}
					<div class="labelForm libele_form">
						<label class="control-label " data-original-title="" title=""><b>SOA </b></label>
					</div>
					<div class="form">
						{foreach from=$oCandidatCv->soa_list item=soa}
							<div class="row">{$soa.libele}</div>
						{/foreach}
					</div>
					<div class="form">
						{if $autre_service}
							<input type="text" name="autre_service" class="form-control" id="autre_service" value="{$autre_service}"/>
						{else}
							<input type="text" name="autre_service" class="form-control" id="autre_service" style="display: none"/>
						{/if}
					</div>
				{/if}
				<div class="labelForm libele_form">
					<label class="control-label " data-original-title="" title=""><b>Division </b></label>
				</div>
				<div class="form">
					<select class="form-control" placeholder="Division" onchange="changeDivision()" style="border: 1px solid #626D71 !important;" name="division" data-toggle="tooltip" data-original-title="Safidio ny Division misy anao" id="division">
						<option  value="999999">-------</option> 
						{foreach from=$oData.list_division item=oDivision}
							<option  value={$oDivision.id} {if $oDivision.id==$oCandidatCv->division}selected="selected"{/if}>{$oDivision.libele}</option>
						{/foreach}
					</select>
				</div>
			<br>
			</div>
			<div class="form">
				{if $zAutreDivision!=''}
					<input type="text" name="autre_division" class="form-control" id="autre_division" value="{$zAutreDivision}"/>
				{else}
					<input type="text" name="autre_division" class="form-control" id="autre_division" style="display: none"/>
				{/if}
			</div>	